[Unit]
Description=Updating freedns.afraid.org DDNS

[Service]
Type=oneshot
User=scriptsuser
Group=scriptsuser
WorkingDirectory=/usr/local/bin/
ExecStart=/bin/bash /usr/local/bin/freedns-autoupdate.sh https://freedns.afraid.org/dynamic/update.php?CGe6JyFuTwyOAVuSxMKTPSchIukA6mVnArVOwBH2G9X9 "/example/dir/dds-ip.log"
